@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");

html{
    height: 100%;
    width: 100%;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: #068EE8;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background: linear-gradient(0deg, #6190E8 0%, #b0c8f4 55%,#A7BFE8 85%) fixed no-repeat;
}

#logoHeadliner{
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
}

nav{
    color: #FFFFFF;
    padding-top: 10px;
    justify-content: center;
    margin-bottom: 20px;

    border-radius: 2px;
    border-bottom: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

#navbar-brand{
    height: 50px;
}

.navbar{
    padding: 0.8rem;
}

.navbar-nav li{
    padding-left: 40px;
    font-size: 20px;
}

.navbar-nav li a{
    color: #222;
    font-size: 1.1em !important;
}

.nav-link{
    font-size: 1.1em !important;
}

#navbarResponsive a:hover{
    background: #90b1ef;

    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}


/*Home Page*/
#heading{
    font-family: "Brush Script MT", cursive;
}

.bi-stars{
    color:#E6DA07;
}

.carousel-indicators{
    display: none;
  }

.card-group{
    background: #068EE8 !important;
}
  
#card_review{
    border-radius: 10%;
    width: 18rem;
}
  
.actreview{
    font-style: italic;
}

#contact-us{
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
}

.form-group{
    width: 40%;
    margin: 0 auto;
}

.form-control{
    border:1px solid black;
}

.btn{
    background-color: #007AF3;
}


/*Product Page/s*/
#allProducts{
    margin: 0 auto;
}

#product_card{
    width: 20rem;
    
}

#product_image{
    width: 100%;
    height: 618px;
}

#productDesciption{
    padding-top: 80px;
}



/*About Us Page*/
#aboutDesciption{
    padding-top: 80px;
}

#logoDescribe{
    font-family: "Brush Script MT", cursive;
}

hr{
    color:#000000;
}





footer{
    color:#FFFFFF;
    padding-top: 1.5rem;
    background: rgba(255, 255, 255, 0.174);

    border-radius: 2px;
    border-top: 1px solid #fff;
}

footer a{
    color: #d5d5d5;
}

.socials{
    font-size: 3em;
}
  
.bi-instagram{
    color:#E1306C;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.bi-facebook{
    color:#0165E1;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.bi-whatsapp{
    color:#25d366;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* #footerLocation{
    width: 50%;
    position: relative;
    margin: 0 auto;
    padding-top: 56.25%;  // 16:9 Aspect Ratio // 
} */

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -10px;
    right: 0;
    width: 100%;
    height: 50%;
    border: none;
}



/*Admin Login Page*/
#bg-img{
    background-image: url("/img/login/login_bg_1.svg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

#bg-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.174);
}

.content{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.133);

    border: 1px solid #FFF;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

.content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Montserrat", sans-serif;
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.password{
    margin-top: 16px;
}

.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.pass-key:valid ~ .show{
    display: block;
}

.forget-password{
    text-align: left;
    margin: 10px 0;
}

.forget-password a{
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.forget-password:hover a{
    text-decoration: underline;
}

.field input[type="submit"]{
    background: #682efc;
    border: 1px solid #7741fd;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease;
}

.field input[type="submit"]:hover{
    background: #4a0de4f5;
}

.login{
    color:white;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}

i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
